.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: hidden;
}

.Box {
  display: inline-flex;
  height:  calc(100% - 40px);
  width:  calc(50% - 40px);
  min-width: 540px;
  border: 1px dashed black;
  padding: 10px;
  justify-content: center;
  align-content: center;
  align-items: center;
}
