.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}

@media only screen and (max-width: 992px) {
  .Box {
    width: 100%;
    height: calc(100% - 50px);
  }
}

@media only screen and (min-width: 992px) {
  .Box {
    height: 100%;
  }
  .Box.Single {
    width: 33%;
  }
  .Box.Double {
    width: 67%;
  }
}
