.Book {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.Book .Header, .Book .Content, .Book .Footer {
  width: 100%;
  display: inline-flex;
  justify-content: left;
  align-content: center;
  align-items: center;
}

.Book .Header, .Book .Footer {
  justify-content: space-between;
  text-transform: uppercase;
  background-color: #eeeeee;
  color: #111111;
  z-index: 1;
}

.Book .Header {
  height: 51px;
  padding: 0px 20px;
  font-size: 24px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.Book .Footer {
  height: 31px;
  padding: 0px 10px;
  font-size: 12px;
  -webkit-box-shadow: 0 -1px 3px rgba(0,0,0,0.3);
  box-shadow: 0 -1px 3px rgba(0,0,0,0.3);
}

.Book .Content {
  height: calc(100% - 122px);
  padding: 20px;
  overflow: auto;
  align-items: flex-start;
  z-index: 0;
}

.Book .Header .Counter {
  font-size: 16px;
}

.Link {
  color: #1e1b1c;
  display: inline-flex;
  align-items: center;
}

.Link:hover {
  opacity: 0.75;
}

.Link img {
  height: 20px;
  padding-right: 5px;
}
