.Content img {
  display: block;
  margin: 12px auto;
  max-width: 100%;
}

.Content code {
  display: block;
  margin: 12px auto;
  font-family: "Courier New", Courier, monospace;
}

.Content form {
  display: block;
  margin: 12px auto;
}

.Content pre {
  white-space: pre-wrap;
}

.Content table {
  display: table;
  margin: 12px auto;
}

.Content th {
  font-weight: 900;
}

.Content td,
.Content th {
  border: 1px solid #28282a;
  padding: 24px;
}

.Content ol,
.Content ul {
  margin: 12px auto;
}

.Content ol {
  list-style-type: decimal;
}

.Content ul {
  list-style-type: square;
}

.Content li {
  margin-left: 24px;
  line-height: 150%;
}

.Content a:hover {
  opacity: 0.95;
}

.Content b {
  font-weight: 900;
}

.Content i {
  font-style: italic;
}

.Content p,
.Content h1,
.Content h2,
.Content h3,
.Content h4,
.Content h5,
.Content h6 {
  padding: 6px 0;
  line-height: 150%;
  color: #28282a;
}

.Content h1,
.Content h2,
.Content h3,
.Content h4,
.Content h5,
.Content h6 {
  text-transform: uppercase;
}

.Content p {
  font-size: 16px;
  line-height: 24px;
}

.Content h1 {
  font-size: 28px;
}

.Content h2 {
  font-size: 26px;
}

.Content h3 {
  font-size: 24px;
}

.Content h4 {
  font-size: 22px;
}

.Content h5 {
  font-size: 20px;
}

.Content h6 {
  font-size: 18px;
}
